body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

.header{
    width: 100%;
    height: 85px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.logo a{
    font-size: 28px;
    padding-left: 20px;
}
.navbar{
    display: flex;
}
.navbar a{
    font-weight: 500;
    margin-left: 5px;
    margin-right: 9px;
}
.navbar a::after{
    content: "";
    height: 2px;
    width: 0px;
    background-color: #fff;
    display: block;
    transition: .5s;
}
.navbar a:hover::after{
    width: 100%;
}
.main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main .caja{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.main .caja h2{
    font-size: 40px;
}
.main .caja p{
    padding: 0px 10px;
    text-align: center;
    font-size: 26px;
}
.footer{
    width: 100%;
    background-color: black;
}
.footer .hijo-footer{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 35px 0px;
}
.footer .hijo-footer .caja{
    width: 100%;
    height: 100%;
}
.footer .hijo-footer .caja h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.footer .hijo-footer .caja p{
    color: white;
    margin-bottom: 10px;
}
.footer .hijo-footer .caja .logofooter h2{
    color: white;
    font-size: 40px;
    padding: 20px;
}
.footer .hijo-footer .caja .redes a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
    background-color: rgb(29, 27, 27);
}
.footer .hijo-footer .caja .redes a:hover{
    background-color: rgb(49, 48, 48);
}

@media (max-width: 700px){
    .header{
        flex-direction: column;
        padding-top: 10px;
    }
    .navbar{
        padding: 10px 0px;
    }
}